body{

		height: 800px;

	background-color: #cabdbd;
	background-image: linear-gradient(rgb(14, 2, 71),rgb(94, 60, 158) ,rgb(210, 210, 242) );
	background-repeat: no-repeat;
	

    background-color: antiquewhite;
    background-size: cover;
    background-position:center ;
    

}
.container{
width: 320px;
height: 550px;
background:rgba(44, 44, 44, 0.5);
color: #fff;
top:50%;
left:50%;
position: absolute;
transform:translate(-50%,-50%);
box-sizing: border-box;
border-radius:5px ;
}

button{
    
    color:#fff;
    background: blue;
    background-image: linear-gradient(rgb(127, 33, 33),rgb(156, 25, 25),rgb(252, 5, 5)  );
    margin-top:50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 3px #05192b;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}

.panel-body{
    text-align: center;
    margin:30px;
    font-size: 20px;
    color:lightyellow;
}

input{
    margin-bottom:20px;
}
/*.toast-body{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightyellow;
    border: 2px solid yellow;
}*/